@charset "UTF-8";
body{
	background-image: url(Pictures/blur-1869454_1920.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
input[type=text]{
		width: 30%;
    padding: 12px 20px;
    margin-top: 50%;
		margin-left: 0%;
    border: 1px solid #ccc;
    border-radius: 40px;
		font-size: 30px;
}
input[type=button]{
		width: 5%;
		font-size: 20px;
		border-radius: 30px;
		background-color: white;
};
