@charset "UTF-8";
body{
	background-image: url(Pictures/blur-1869454_1920.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
input[type=text]{
	width: 25%;
	background-color: #D3D3D3;
	margin-top: 40%;
	margin-left: 40%;
	border-radius: 30px;
	font-size: 30px;
}


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 50%;
	margin-left: 50%;
	padding: 0;
}
